* {
    background-color: black;
    cursor: default;
    color: white;
    font-family: 'Teko', sans-serif;
    text-align: center;
    margin-left: 20px;
}

main h2, p, a, p a, b, button, a button, span {
    text-align: left;

    font-family: 'Mitr', sans-serif;
}

.active {
    color: greenyellow;
}